---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col gap-2">
    <h1
      class="py-1 text-2xl text-light-bgColor bg-light-metaColor text-balance text-center"
    >
      {frontmatter.title}
    </h1>
    <div>
      <p class="text-light-metaColor text-base">
        Published on: {frontmatter.pubDate.toString().slice(0, 10)}
      </p>
      <p class="text-light-metaColor text-base">
        Written by {frontmatter.author}
      </p>
    </div>
    <div class="flex justify-center">
      {
        frontmatter.tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="p-1 rounded-md text-light-linkColor focus:bg-light-linkColor focus:text-light-bgColor hover:bg-light-linkColor hover:text-light-bgColor text-base"
          >
            {tag}
          </a>
        ))
      }
    </div>
    <slot />
  </div>
</BaseLayout>
